@import './base.css';

:root {
    --white100: #fff;  
    --black100: #000;  
    --yellow300: #ffe5009c; 
    --gray300: #dcdcdc30;
    --gray400: #cccccc1c;

    --rgba-yellow:rgba(255, 255, 0, 0.642);
}