@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    background-color: var(--white100);
    color: var(--black100);
    position:relative;
}


:root {
    --white100: #ffffff;
    --white200: #f2f2f2;
    --white300: #e4e7ed;

    --black100: #000000;

    --orange100: #f39c12;
    --orange200: #E6A23C;
    --orange300: #FFC048;

    --yellow100: #ffe500;
    --yellow200: #ffe500e8;
    --yellow300: #ffe5009c;
    --yellow400: #ffe600;
    --yellow500: #FFC530;

    --gray100: #ccc;
    --gray200: #dbdad9;
    --gray300: #999;
    --gray400: #808080;
    --gray500: #3f3f3fe0;
    --gray600: #cccccc1c;
    --gray800: #303133;
    --gray900: #606266;

    --green100: #50a773;

    --blue100: #4d54dd;
    --blue200: #231f60;

    --aqua100: #00FFFF;

    --transp-gray100: #c3c3c31c;

    --rgba-yellow: rgba(255, 255, 0, 0.642);

    --rgba-gray100: rgba(0, 0, 0, 0.857);
    --rgba-gray200: rgba(0, 0, 0, 0.1);

    --rgba-lightgray100: rgba(255, 254, 212, 0.409);

    --laptop: 1024px;
    --tablet: 768px;
}

/* contexto de css global do element plus  */
.el-input__wrapper {
    box-shadow: 0 0 0 1px var(--gray200) inset !important;
}

.el-input__wrapper.is-focus {
    box-shadow: 0 0 0 0.063rem var(--yellow100) inset !important;
}

.el-button:focus {
    background-color: inherit !important;
    border-color: none !important;
    color: inherit !important;
}

.el-input__wrapper .el-input__inner {
    height: 2.3rem;
}
.el-textarea__inner:focus , .el-select .el-input.is-focus .el-input__wrapper {
    box-shadow: 0 0 0 0.063rem var(--yellow100) inset !important;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
    color: inherit !important;
}
.el-select-dropdown__item.selected {
    color: var(--yellow100) !important;
}
.el-date-editor.el-input {
    width: 100% !important;
}

.el-sub-menu div {
    padding-left: 0.5rem!important;
    padding-right: 0.5rem!important;
}
.el-textarea__inner:focus , .el-select .el-input.is-focus .el-input__wrapper {
    box-shadow: 0 0 0 0.063rem var(--yellow100) inset !important;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
    color: inherit !important;
}
.el-select-dropdown__item.selected {
    color: var(--yellow100) !important;
}
@media (max-width: 768px){
    .el-menu-item{
        height: unset!important;
        line-height: 2rem;
    }
    .el-sub-menu__title:hover{
        background-color: unset!important;
    }
}